@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.cabecalho-site {
    display: flex;
    align-items: center;
    background-color: #cccccc;
    justify-content: space-between;
    align-items: center;
    padding: 24px 240px 24px 240px;
}

.cabecalho-logo {
    width: 80px;
}

.navegacao-principal a {
    color: #090129;
    text-decoration: none;
    font-size: 20px;
}

.navegacao-principal {
    display: flex;
    gap: 40px;
    align-items: center;

}

.navegacao-principal a:link,
.navegacao-principal a:visited {
    color: #090129;
    text-decoration: none;
    font-size: 20px;
}

.navegacao-principal a:hover {
    color: #780bf7;
    text-decoration: underline;
}

.navegacao-principal a:active {
    color: #ff55df;
    text-decoration: underline;
}

.logo-header {
    width: 80px;
}

.secao-destaque {
    gap: 56px;
    padding: 80px 240px 80px 240px;
    display: flex;
    background-image: url(imagens/fundo-secao-destaque.png);
}

.secao-destaque span {
    color: #8FFF24;
}

.secao-destaque h1 {
    font-family: "Orbitron", sans-serif;
    color: #ff55df;
    font-size: 76px;
    margin-bottom: 48px;
}

.botao:link,
.botao:visited {
    background-color: #780bf7;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 16px 24px 16px 24px;
    text-decoration: none;
    border-radius: 50px;
}

.botao:hover {
    background-color: #430091;
}

.cartoes {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 24px;
}

.secao-categorias {
    font-family: 'Orbitron', sans-serif;
    padding: 80px 240px 80px 240px;
    text-align: center;
}

.inscreva-se {
    background-color: #8FFF24;
    color: #090129;
    text-align: center;
    padding: 40px;
}

.inscreva-se h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 32px;
    margin-bottom: 24px;
}

.inscreva-se p {
    font-size: 20px;
    margin-bottom: 32px;
}

.inscreva-se input {
    padding: 16px;
    border-radius: 32px;
    width: 658px;
    background-color: #8FFF24;
    font-size: 20px;
    color: #090129;
    margin-right: 16px;
}